.contacts {
  width: 90%;
  background-color: #e1dedb;
  padding: 40px;
  border-radius: 15px;
  margin: 80px auto 40px auto;
}

.contactArtist {
  font-size: 25pt !important;
  font-weight: 500 !important;
  color: #343434 !important;
  padding: 10px 15px !important;
}

.contactInfo {
  text-transform: none;
  text-decoration: none;
  font-size: 10pt;
  letter-spacing: 1px;
  line-height: 25pt;
  font-weight: 600;
  color: #343434;
  padding: 5px 15px;
}

/* -------------------- */
.table {
  display: flex;
  flex-direction: column;
  border: solid #343434 1px;
  margin: 100px 50px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.left {
  width: 75%;
  border-right: solid #343434 1px;
}

.firstRow {
  border-bottom: solid #343434 1px;
}

.inside {
  border-bottom: solid #343434 1px;
}

.right {
  display: flex;
  justify-content: center;
  margin: auto;
}

.right img {
  width: 60%;
}

.left span {
  font-weight: 900;
  font-size: 10pt;
}

.left p {
  color: #343434;
  font-size: 9pt;
  padding: 0 15px;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.since h3 {
  line-height: 15pt;
  text-align: center;
}

.since {
  height: 70%;
}

@media (max-width: 960px) {
  .contacts {
    width: 100%;
    padding: 15px;
  }

  .table {
    margin: 100px 10px;
  }

  .left {
    width: 100%;
  }

  .products p {
    font-size: 8pt;
  }

  .thumb {
    max-width: 100%;
  }
}

@media (max-width: 490px) {
  .right {
    display: none;
  }

  .left {
    border-right: 0;
  }
}
